* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 100%; */
}

header {
  background-color: #ec715f;
  height: 70px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.header-item {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 100px;
  height: 40px;
}

.nav-list {
  display: flex;
  text-align: right;
}

.nav-list > li {
  font-size: 16px;
  padding: 0 30px;
  line-height: 70px;
  color: #fafafa;
  list-style: none;
}

.nav-list > li > a {
  text-decoration: none;
  color: #fafafa;
}

#hm-icon {
  display: none;
}

.main-visual {
  background-image: url("img/mv.png");
  background-size: 100% 100%;
  height: 650px;
  padding-top: 200px;
}

.main-visual-text {
  text-align: center;
}

.main-text {
  font-size: 64px;
  color: #fafafa;
  margin-bottom: 10px;
}

.sub-text {
  font-size: 20px;
  color: #fafafa;
}

.portfolio {
  background-color: #eceff1;
}

.portfolio-contents {
  width: 920px;
  padding: 90px 0;
  margin: 0 auto;
}

.portfolio-text {
  color: #000000;
  text-align: center;
}

.portfolio-title {
  font-size: 32px;
  display: inline-block;
  position: relative;
}

.portfolio-title:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  display: inline-block;
  width: 70px;
  height: 3px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  background-color: #ec715f;
}

.portfolio-text > p {
  font-size: 16px;
  padding: 30px;
}

.portfolio-photoes {
  display: flex;
  flex-wrap: wrap;
}

.photo {
  width: 300px;
  height: 250px;
}

.photo:nth-child(1) {
  background-image: url("img/sketch.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 10px 10px 0;
}
.photo:nth-child(2) {
  background-image: url("img/websuku.png");
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}
.photo:nth-child(3) {
  background-image: url("img/write.jpg");
  background-size: cover;
  background-position: center;
}
.photo:nth-child(4) {
  background-image: url("img/webcamp.png");
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}
.photo:nth-child(5) {
  background-image: url("img/talk.jpg");
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}
.photo:nth-child(6) {
  background-image: url("img/webcamp-mother.png");
  background-size: cover;
  background-position: center;
}

.feature-contents {
  width: 980px;
  margin: 90px 0;
}

.feature-text {
  text-align: center;
}

.feature-text > h3 {
  font-size: 32px;
  color: #000000;
  position: relative;
}

.feature-text > h3:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  display: inline-block;
  width: 70px;
  height: 3px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  background-color: #ec715f;
}

.feature-text > p {
  font-size: 16px;
  color: #000000;
  margin: 30px 0;
}

.strength-items {
  display: flex;
}

.icon {
  font-size: 60px;
}

.strength {
  width: 320px;
  height: auto;
  margin-right: 10px;
}

.strength:nth-child(3) {
  margin-right: 0;
}

.strength > span,
h5 {
  display: block;
  text-align: center;
}

.strength > h5 {
  font-size: 20px;
  color: #000000;
  margin: 10px 0;
}

.strength > p {
  font-size: 16px;
  color: #000000;
}

.profile {
  background-color: #eceff1;
  color: #000000;
}

.profile-contents {
  padding: 90px 0;
}

.profile-text {
  text-align: center;
}

.profile-text > h3 {
  font-size: 32px;
  position: relative;
}

.profile-text > h3:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  display: inline-block;
  width: 70px;
  height: 3px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  background-color: #ec715f;
}

.profile-text > p {
  font-size: 16px;
  margin: 30px 0;
}

.profile-main {
  display: flex;
}

.my-photo {
  width: 512px;
}

.my-image {
  background-image: url("img/my-icon.jpg");
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
}

.my-profile {
  width: 512px;
}

.my-name {
  margin-bottom: 20px;
}

.my-profile > h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.my-profile > p {
  font-size: 16px;
}

.contact-contents {
  width: 800px;
  margin: 90px auto;
  color: #000000;
}

.contact-text {
  text-align: center;
}

.contact-text > h3 {
  font-size: 32px;
  position: relative;
}

.contact-text > h3:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  display: inline-block;
  width: 70px;
  height: 3px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  background-color: #ec715f;
}

.contact-text > p {
  font-size: 16px;
  margin: 30px 0;
}

.my-contact {
  display: flex;
}

.adress {
  width: 400px;
  text-align: center;
  display: block;
}

.link-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.adress-link > a {
  color: #000000;
}

.tel {
  margin-top: 20px;
}

.sns {
  width: 400px;
}

.sns > h4 {
  font-size: 20px;
}

.awesome {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.sns-icon {
  font-size: 50px;
  margin-right: 20px;
}

.sns-icon:nth-child(3) {
  margin-right: none;
}

footer {
  background-color: #ec715f;
  color: #fafafa;
  height: 60px;
  text-align: center;
}

.webcamp {
  font-size: 16px;
  line-height: 60px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  header {
    height: 50px;
    padding: 5px 0;
  }

  .nav-list {
    display: none;
  }

  #hm-icon {
    display: block;
    text-align: right;
  }

  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all.4s;
    box-sizing: border-box;
  }

  .menu-trigger {
    position: relative;
    width: 30px;
    height: 26px;
  }

  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fafafa;
    border-radius: 4px;
  }

  .menu-trigger span:nth-child(1) {
    top: 0;
  }

  .menu-trigger span:nth-child(2) {
    top: 11px;
  }

  .menu-trigger span:nth-child(3) {
    bottom: 0;
  }

  .menu-trigger.active span:nth-child(1) {
    -webkit-transform: translateY(11px) rotate(-45deg);
    transform: translateY(11px) rotate(-45deg);
    background-color: #fff;
  }

  .menu-trigger.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-trigger.active span:nth-child(3) {
    -webkit-transform: translateY(-11px) rotate(45deg);
    transform: translateY(-11px) rotate(45deg);
    background-color: #fff;
  }

  .main-visual {
    background-image: url(img/code.png);
    background-position: center;
    background-size: cover;
  }

  .main-text {
    font-size: 40px;
  }

  .sub-text {
    font-size: 18px;
  }

  .portfolio-contents {
    width: 100%;
  }

  .portfolio-photoes {
    flex-direction: column;
    align-items: center;
  }

  .photo:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .photo:nth-child(odd) {
    display: none;
  }

  .feature-contents {
    width: 100%;
  }

  .strength-items {
    flex-direction: column;
    align-items: center;
  }

  .strength:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .profile-main {
    flex-direction: column;
    align-items: center;
  }

  .my-profile {
    text-align: center;
  }

  .my-name > h4 {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .my-skills > h4 {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .contact-contents {
    width: 100%;
  }

  .my-contact {
    flex-direction: column;
    align-items: center;
  }

  .sns {
    margin-top: 20px;
  }

  .sns-icon {
    margin-right: 8px;
  }
}
